@mixin lottery-base($lottery_width:300px) {
  display: flex;
  width: $lottery_width;
  height: $lottery_width;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: space-between;
  padding: 10px;
  border-radius: var(--radius);
  background: var(--background);

  .lottery-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $lottery_width/3 - 10px;
    height: $lottery_width/3 - 10px;
    border-radius: var(--radius);
    background-color: rgb(222, 220, 220);

    .award-icon {
      width: ($lottery_width/3 - 10px)/4;
      height: ($lottery_width/3 - 10px)/4;
      margin-bottom: 10px;
    }

    .award-text {
      font-size: 1.1vw;
    }
  }

  .is-btn {
    background-color: var(--btnBackground);
    color: var(--btnColor);
    cursor: pointer;

    .award-text {
      font-size: 1.6vw;
    }
  }

  .active {
    background-color: var(--activeBackground) !important;
    color: var(--activeColor) !important;
  }
}

@media screen and (min-width: 1160px) {
  .lottery {
    @include lottery-base(500px);

    .lottery-item {
      .award-text {
        font-size: 0.8vw;
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  .lottery {
    @include lottery-base(420px);
  }
}

@media screen and (max-width: 820px) {
  .lottery {
    @include lottery-base(360px);
  }
}

@media screen and (max-width: 768px) {
  .lottery {
    @include lottery-base(300px);

    .lottery-item {
      .award-text {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .lottery {
    @include lottery-base(280px);

    .lottery-item {
      .award-text {
        font-size: 9px;
      }
    }
  }
}
