@mixin lottery-base($lottery_width:300px) {
  display: flex;
  width: $lottery_width;
  height: $lottery_width;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: space-between;
  padding: 20px;
  border-radius: 5px;

  .lottery-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $lottery_width/3 - 10px;
    height: $lottery_width/3 - 10px;
    border-radius: 5px;
    background-color: rgb(222, 220, 220);

    .award-icon {
      width: ($lottery_width/3 - 10px)/4;
      height: ($lottery_width/3 - 10px)/4;
      margin-bottom: 10px;
    }

    .award-text {
      font-size: 1.1vw;
    }
  }

  .is-btn {
    background-color: rgb(33, 194, 140);
    color: azure;
    cursor: pointer;

    .award-text {
      font-size: 1.6vw;
    }
  }

  .active {
    background-color: rgb(121, 221, 248) !important;
  }
}

@media screen and (min-width: 1160px) {
  .lottery {
    @include lottery-base(500px);

    .lottery-item {
      .award-text {
        font-size: 0.8vw;
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  .lottery {
    @include lottery-base(420px)
  }
}

@media screen and (max-width: 820px) {
  .lottery {
    @include lottery-base(360px)
  }
}

@media screen and (max-width: 768px) {
  .lottery {
    @include lottery-base(300px)
  }
}

@media screen and (max-width: 390px) {
  .lottery {
    @include lottery-base(250px)
  }
}
